.container {
    /* width: 100%; */
    /* height: 100vh; */
    box-sizing: border-box;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* font-size: 1rem; */
    display: grid;
    grid-template-columns: 400px auto;
    border: 1px solid var(--colors-grey300);
}

.panelHeader {
    height: 5vh;
    padding: 0.3em;
    border-bottom: 1px solid var(--colors-grey300);
}

.sidebar {
    border-right: 1px solid var(--colors-grey300);
    /* margin-top: 0.5em */
    /* padding: 0.5em; */
    /* width: 30%; */
    /* margin: 0.1em; */
}

.sidebarContent {
    padding: 0.5em;
    margin-top: 0.5em;
    /* margin: 0; */
    /* padding: 0.3em; */
    /* width: 20%; */
}

.createButton {
    width: 100%;
}

.createButton button {
    margin: 0.5em 0 0.3em 0;
    width: 100%;
    border: none;
}

.top {
    /* margin-top: 0.5em; */
}

.bottom {
    /* margin-bottom: 0.5em; */
}

.sidebarList h4 {
    /* padding: 0; */
    /* margin: 0.5em; */
}

.sidebarList ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.select {
    /* height: 70px; */
    /* padding: 0; */
    /* margin: 0; */
}

/* main area */

.main {
    display: grid;
    grid-template-columns: 400px auto;
}

/* --- keys */

.keysTable {
    /* margin-top: 10px; */
    /* padding: 0.2em; */
}

/* nav link */

/* sourced and adapted from https://github.com/dhis2/design-specs/blob/b65e6518dcc7c16733379cd80688e67a422fc742/src/components/sidenav.css#L73 (-> 104) */
.navLink {
    width: 100%;
    /* display: grid; */
    /* grid-template-rows: 1fr 2fr 1fr; */
    /* background-color: aliceblue; */
    /* border: 1px solid red; */
    /* height: 50px; */
    min-height: 36px;
    border-radius: 10px;
}

.navLink button {
    /* border: 0; */
}

.navLink a {
    /* display: block;   */
    /* min-height: 36px; */
    padding: 5px;
    /* background: var(--colors-grey100);  */
    text-decoration: none;
    color: var(--colors-grey900);
    font-size: 15px;
    display: grid;
    grid-template-columns: 25px auto 30px;
    border-radius: 10px;
    /* display: flex; */
    /* align-items: center; */
}

.navLink a button {
    border: none;
    background-color: transparent;
}
.navLink:hover,
.navLink a:hover {
    background: var(--colors-grey100);
}
.navLink:focus,
.navLink a:focus {
    outline: 2px solid white;
    background: var(--colors-teal050);
    outline-offset: -2px;
}

.navLink a.active,
.navLink :global(.active) {
    /* font-weight: 500; */
    background: var(--colors-teal050);
    /* box-shadow: inset 6px 0px 0px 0px var(--colors-grey500); */
}
.navLink.active:hover {
    background: var(--colors-teal050);
}
