{
  "extends": "dhis2",
  "plugins": [
    "prefer-object-spread"
  ],
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true,
            "experimentalObjectRestSpread": true
        }
  },
  "rules":{
    "prefer-object-spread/prefer-object-spread": 2
  },
}
