.layoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.pageContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow:hidden;
}
