.fff-display {
  display: flex;
  flex: 3;
  flex-direction: column;
  background-color: rgb(238, 238, 238) !important;

}

.fff-display-area {
  display: flex;
  flex-direction: column;
  flex: 3;
  overflow-y: auto;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
