.fff-toolbar-title {
  padding-right: 16px;
  line-height: 56px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
