.value-container {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.value-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.window-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.window {
  display: flex;
  flex-direction: column;
  flex: 1;
}
