
.value-container {
  height: 50em;
  width: 50%;
  flex:1;
  background-color: rgb(133, 131, 129);
  overflow: hidden;
}

.value-area {
  overflow: auto;
  height:100%;
<<<<<<< HEAD
}

.value-value {
  margin:10px;
=======
>>>>>>> master
}

.value-value {
  margin-left: 10px;
}

#jsoneditor {
  height: 100%;
}