
.value-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgb(133, 131, 129);
}

.value-area {
  flex: 1;
}

.value-value {
  margin-left: 10px;
}

#jsoneditor {
  height: 100%;
}
