.toolbarTitle {
    padding: 16px;
    line-height: 56px;
    font-size: 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.toolbarTitle svg {
    box-sizing: content-box;
    padding-left: 0 !important;
}
