
.sidebar {
  width: 20em;
  height: 50em;
  background-color: rgb(176, 157, 151);
  overflow-y: auto;
}

.sidebar-navigation {
  width: 100%;
}

.sidebar-title {
  width: 100%;
  font-size: 1.5em;
  background-color: #215E8C;
  color: white;
  padding: 0.3em;
}
