.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.sidebar {
    width: 20%;
    margin: 0.1em;
}

.sidebarContent {
    padding: 0.3em;
    width: 20%;
}

.sidebarList {
    margin-top: 1em;
}

.sidebarList ul {
    list-style-type: 'none';
    margin: 0;
    padding: 0;
}

.top {
    margin-top: 0.5em;
}

.bottom {
    margin-bottom: 0.5em;
}

.main {
    width: 80%;
    margin: 0.1em;
}

.keysTable {
    margin-top: 10px;
    padding: 0.2em;
}

/* sourced and adapted from https://github.com/dhis2/design-specs/blob/b65e6518dcc7c16733379cd80688e67a422fc742/src/components/sidenav.css#L73 (-> 104) */

.navLink a {
    display: block;
    min-height: 36px;
    padding: 10px;
    /* background: var(--colors-grey100); */
    text-decoration: none;
    color: var(--colors-grey900);
    font-size: 15px;
    display: flex;
    align-items: center;
}
.navLink:hover,
.navLink a:hover {
    background: var(--colors-grey300);
}
.navLink:focus,
.navLink a:focus {
    outline: 2px solid white;
    background: var(--colors-grey200);
    outline-offset: -2px;
}

.navLink a.active,
.navLink :global(.active) {
    font-weight: 500;
    background: var(--colors-grey200);
    box-shadow: inset 6px 0px 0px 0px var(--colors-grey500);
}
.navLink.active:hover {
    background: var(--colors-grey300);
}
