.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    font-size: 1rem;
}

.sidebar {
    width: 20%;
    /* background-color: aliceblue; */
    margin: 0.1em;
}

.sidebarContent {
    padding: 0.3em;
    width: 20%;
}

.sidebarList {
    margin-top: 1em;
}

.top {
    margin-top: 0.5em;
}

.bottom {
    margin-bottom: 0.5em;
}

.main {
    width: 80%;
    /* background-color: aqua; */
    margin: 0.1em;
    padding: 0.5em;
}
