/* Ace editor overrides*/
.ace_gutter-active-line {
    margin-top: 25px;
}

.ace_gutter {
    padding-top: 25px;
}

.ace_scroller {
    top: 25px !important;
}

.jsoneditor-mode-tree {
    padding-top: 25px !important;
}
