/* layout */
.page {
    height: 100%;
    background-color: var(--colors-grey300);
    box-sizing: border-box;
    overflow-y: hidden;
}
.container {
    margin: 0 auto;
    padding: 0;
    margin-top: 1.5em;
    width: 70%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid var(--colors-grey400);
    border-radius: 4px;
}

.pageHeader {
    /* height: 5vh; */
    height: 50px;
    padding: 0 0.5em;
    /* margin-top: 5em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--colors-grey300);
}

/* keys and namespace views */

.midSection {
    padding: 0.7em;
    display: grid;
    grid-template-columns: repeat(1fr, 5);
}

.search {
    grid-column: 1 / 3;
}

.createButton {
    grid-column: 5;
    color: var(--colors-grey600);
}

.createButton button {
    width: auto;
    height: 100%;
    float: right;
}

.actionButtons button {
    height: fit-content;
    border: none;
    margin: 0 0.3em;
    background-color: transparent;
}

.actionButtons button:active button:focus-visible {
    background-color: transparent;
}

/* edit page */

.editButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 0.45em;
}

/* breadcrumbs */

.list {
    list-style-type: none;
    width: fit-content;
    padding: 0;
    margin: 0.8em;
    color: var(--colors-grey900);
}

.list a {
    display: inline;
    text-decoration: none;
    margin: 0.3em;
    color: var(--colors-grey900);
}
